python-prebuilt-binaries/
workspace/*
!workspace/.keepme
pookie.log

tmp/python_compile/python-3.13-x86_64-linux/
tmp/python_compile/python-3.13-arm64-linux/
tmp/python_compile/python-3.13-x86_64-windows/
tmp/python_compile/python-3.13-x86_64-macos/
tmp/python_compile/darling/

tmp/cross_environments/cross_env_linux_arm64

tmp/examples/Cross_Compile_Example/dist
tmp/examples/Cross_Compile_Example/sum.egg-info
tmp/examples/NO_Cross_Compile_Example/dist
tmp/examples/NO_Cross_Compile_Example/sum.egg-info
tmp/examples/NO_Cross_Compile_Example/myenv313
tmp/examples/MSVC_in_Wine_on_Linux_Example/my_msvc
tmp/examples/MSVC_in_Wine_on_Linux_Example/msvc-wine
tmp/examples/MSVC_in_Wine_on_Linux_Example/build
tmp/examples/MSVC_in_Wine_on_Linux_Example/cprogram.exe
tmp/examples/Windows_Compile_Example/sum.exp
tmp/examples/Windows_Compile_Example/sum.lib
tmp/examples/Windows_Compile_Example/sum.obj
tmp/examples/Windows_Compile_Example/sum.pyd
tmp/examples/Windows_Compile_Example/dist
tmp/examples/Windows_Compile_Example/sum.egg-info
tmp/examples/NO_Cross_Compile_Example/sum.so
tmp/examples/Clang_with_Docker/cprogram
tmp/examples/macOS_target_using_osxcross/osxcross
tmp/examples/macOS_target_using_osxcross/sum.so