# python_compile
python_compile/python_linux_x86_64/
python_compile/python_linux_arm64/
python_compile/python_windows_x86_64/

# cross_enviroments
cross_environments/cross_env_linux_arm64

# examples
examples/Cross_Compile_Example/dist
examples/Cross_Compile_Example/sum.egg-info
examples/NO_Cross_Compile_Example/dist
examples/NO_Cross_Compile_Example/sum.egg-info
examples/NO_Cross_Compile_Example/myenv313
examples/MSVC_in_Wine_on_Linux_Example/my_msvc
examples/MSVC_in_Wine_on_Linux_Example/msvc-wine
examples/MSVC_in_Wine_on_Linux_Example/build
examples/MSVC_in_Wine_on_Linux_Example/cprogram.exe